.layout {
  height: 100vh;
}

.layout-body {
  display: flex;
  height: 100%;
  padding-top: 60px; /* Espaço para o header fixo */
}

.layout-body .content{
  margin-left: 240px;
  margin-top: 60px;
  padding: 16px;
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 60px);
}

.main-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}