.sidebar {
  position: fixed;  /*  Fixa a sidebar na tela */
  top: 50px; /* Defini o espaço superior*/
  left: 0; /* Alinha a esquerda*/
  width: 60px; /* Largura da sidebar fechada */
  height: calc(100vh - 50px); /* Define a altura da sidebar como 100% da altura da janela, menos 50px (para compensar o cabeçalho) */
  background-color: #f5f5f5; /*cor de fundo da sidebar */
  border-right: 1px solid #ddd; /*borda vertical */
  overflow-x: auto; /*Scrolar pra baixo */
  padding: 13px 8px; /*13 de vertical e 8 de horizontal dentro */
  transition: width 0.3s ease; /*Animação suave ao alterar tamanho */
  z-index: 999; /*garante que fique acima de outros elementos */
}

.sidebar.open {
  width: 150px; /* tamanho da sidebar aberta */
}

.nav-link {
  display: flex; /*alinhar os ícones e textos dentro do link */
  align-items: center;  /*alinhar os ícones e textos dentro do link */
  padding: 8px 12px;  /*8px vertical, 12 horizontal interno */
  color: #000000;
  text-decoration: none;
  margin-bottom: 8px; /*espaçamento pra baixo */
  transition: background-color 0.2s ease, justify-content 0.3s ease;  /*aniamação quando fundo muda e o alinhamento muda */
  justify-content: center; /* padrão (fechado) */
}

.sidebar.open .nav-link {
  justify-content: flex-start; /* ícone à esquerda */
}

.sidebar.open .nav-sublink {
  justify-content: flex-start; /* ícone à esquerda */
}

.nav-link:hover {
  background-color: #dedede;  /*defini o fundo pra cinzinha */
  border-radius: 50px;  /*arrendonda os cantos */
}

.tooltip-text {
  color: #000000;
  padding: 5px 5px;  /*5px vertical, 5 horizontal interno */
  white-space: nowrap; /*Impede que o texto do tooltip quebre para a linha de baixo. */
}

.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
.sidebar.open .tooltip-container {
   align-items: flex-start; /* ícone à esquerda */
}

.submenu {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  align-items: center;
}
.sidebar.open .submenu {
  align-items: flex-start; /* ícone à esquerda */
}

.nav-sublink {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 10px;
  margin-bottom: 4px;
  text-decoration: none;
}
.nav-sublink:hover {
  background-color: #e0e0e0;
  border-radius: 50px;  /*arrendonda os cantos */
}
